<a href="https://colab.research.google.com/github/KeitonVardy/COMP-593-2021/blob/week%2Fthree-databases/WEEK_3_WORKING_WITH_DATABASES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# LAB 3: WORKING WITH DATABASES

## Introduction

During this lab, we will experiment with using a few different libararies and modules to connect to and interact with an SQLite database. After creating and configuring our testing database, we will populate it with Fake data and run some queries to see what kind of information we can retreive. For context, we will be creating RSSN, the "Really Simple Social Network".

## Creating a SQLite Database

We will be utilizing the `sqlite3` library to create our database file, as it offers the convienience of creating our database file automatically in the event that it cannot find an existing file at the path specified.

**Before you run the below code:**
On the left of the notebook, select the file folder icon. Then, after you run the code block, you should be able to observe the creation of the database file. If it doesn't appear, try clicking the "Refresh" button above the list of folders.

In [58]:
import sqlite3

#When we retreive a Connection object, a new database will be created for us if it doesn't already exist. 
myConnection = sqlite3.connect('social_network.db')
print(sqlite3.version)

2.6.0

## Creating a Table

We'll use the below code to create a table called `people` within our database.

In [59]:
import sqlite3

#Retreive the Connection object
myConnection = sqlite3.connect('social_network.db')

#Once we have a Connection object, we can generate a Cursor object, and use that to run our SQL Queries
myCursor = myConnection.cursor()

#Let's define the SQL Query we will use to create our first table:
createPeopleTable = """ CREATE TABLE IF NOT EXISTS people (
                          id integer PRIMARY KEY,
                          name text NOT NULL,
                          email text NOT NULL,
                          address text NOT NULL,
                          city text NOT NULL,
                          province text NOT NULL,
                          country text NOT NULL,
                          phone text,
                          bio text,
                          dob date NOT NULL,
                          heatmap integer,
                          created_at datetime NOT NULL,
                          updated_at datetime NOT NULL,
                          ipv4 text
                        );"""

#Now that we have the string to create our table,
#Cursor objects have an execute() method which will accept an SQL string and perform the operations described.

myCursor.execute(createPeopleTable)

#We can confirm if our table was created successfully by running the following SQL Query
#pragma_table_info is an internal SQLite function that will retun information about a table
myCursor.execute("SELECT group_concat(name, ', ') FROM pragma_table_info('people')")
print(myCursor.fetchone())

#We use to the commit() method on the database Connection object to persist our changes
myConnection.commit()

#It is always a good idea to close a connection when it will no longer be used
myConnection.close()

('id, name, email, address, city, province, country, phone, bio, dob, heatmap, created_at, updated_at, ipv4',)


If you received a tuple containing the names of the columns, awesome! We have successfully created our database table.
```
('id, name, email, address, city, province, country, phone, bio, created_at, updated_at',)
```

Run the below code block to add our first entry.

In [60]:
import sqlite3
from pprint import pprint #Outputs data in a slightly easier to read format
from datetime import datetime #For generating dates and times

#Retreive the Connection object
myConnection = sqlite3.connect('social_network.db')

#Once we have a Connection object, we can generate a Cursor object, and use that to run our SQL Queries
myCursor = myConnection.cursor()

#Let's define the SQL Query we will use to create our first entry:
addPersonQuery = """INSERT INTO people (name, 
                      email, 
                      address, 
                      city, 
                      province, 
                      country, 
                      phone, 
                      bio,
                      dob,
                      heatmap,
                      created_at, 
                      updated_at, 
                      ipv4)
                  VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?);"""

"""
The ?'s are placeholders that we can fill in when we use the execute() method.
This is really handy for code reuse, as we can pass those values are variables in a tuple
Instead of hard coding them into the statement.
"""

myPerson = ("John Doe", 
            "johndoe@anon.null", 
            "123 Fake St.", 
            "Fakesville", 
            "Fakesdom", 
            "Fakopolis", 
            None, 
            None,
            "1967-09-12",
            0,
            datetime.now(),
            datetime.now(),
            None)

myCursor.execute(addPersonQuery, myPerson)

#We can confirm if our table was created successfully by running the following SQL Query
#pragma_table_info is an internal SQLite function that will retun information about a table
myCursor.execute("SELECT * FROM people")
pprint(myCursor.fetchall())

# If you run this code block a few times, you will see that you only have 1 entry,
# If you uncomment the below lines and run the block a few more times, you will begin to see multiple entries.
# myConnection.commit()
# myConnection.close()

[(1,
  'John Doe',
  'johndoe@anon.null',
  '123 Fake St.',
  'Fakesville',
  'Fakesdom',
  'Fakopolis',
  None,
  None,
  '1967-09-12',
  0,
  '2022-05-24 18:40:02.940338',
  '2022-05-24 18:40:02.940352',
  None)]

# Lab Submission

We're going to build our experience with working with Libraries and examining documentation by populating our 'People' table with data provided to us by the `Faker` library. `Faker` is used to generate fake data and is very helpful for the rapid generation of databases for the purposes of testing. Run the two blocks below to install faker and get an idea of what it can do.

In [36]:
!pip install faker

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: faker in /usr/local/lib/python3.7/dist-packages (13.11.1)
Requirement already satisfied: typing-extensions>=3.10.0.2 in /usr/local/lib/python3.7/dist-packages (from faker) (4.2.0)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.7/dist-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.4->faker) (1.15.0)

In [61]:
from faker import Faker

fake = Faker()

for _ in range(10):
  print('{} || {}'.format( fake.name(), fake.job() ) )

Theresa Herman || Magazine journalist
Mrs. Jennifer Chavez || Comptroller
William Mccoy || Copywriter, advertising
Ryan Obrien || Dentist
Michael Stone || Set designer
Jennifer Thornton || Financial adviser
Anthony Garrison || Television camera operator
Kristine Norton || Civil engineer, contracting
Juan Abbott || Psychologist, prison and probation services
Rebecca Gallagher || Broadcast journalist

Very cool! Faker has tons of `providers` that can all be used to populate fake data. The [list of providers](https://faker.readthedocs.io/en/stable/providers.html) in the Faker documentation will help you fill out the columns for our People table.

The goal of this script is to populate the people table with 1000 entries, with the following constraints:

1. The `heatmap` column must contain a random number between `999` and `2500`
2. The `created_at` and `updated_at` columns must use the `datetime` object (see examples above) 
2. Use `Faker` to generate all other fields.

*Hint: Each of the methods contained in the provider can be called directly from the base Faker object, for example, one can call the `file_name()` method from `faker.providers.file` by calling `Faker().file_name()`*

In [63]:
import sqlite3
from faker import Faker
from datetime import datetime #For generating dates and times
from pprint import pprint
#Don't forget to import the module to generate random numbers!

#Retreive the Connection object
myConnection = sqlite3.connect('social_network.db')

#Once we have a Connection object, we can generate a Cursor object, and use that to run our SQL Queries
myCursor = myConnection.cursor()

#This is the same syntax as the above example:
addPersonQuery = """INSERT INTO people (name, 
                      email, 
                      address, 
                      city, 
                      province, 
                      country, 
                      phone, 
                      bio,
                      dob,
                      heatmap,
                      created_at, 
                      updated_at, 
                      ipv4)
                  VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?);"""

fake = Faker("en_CA")

for _ in range(1000):
  myPerson = (fake.name(), 
            fake.ascii_free_email(), 
            fake.street_address(), 
            fake.city(), 
            fake.administrative_unit(), 
            fake.country(), 
            fake.phone_number(), 
            fake.sentence(nb_words=5),
            fake.date_of_birth(),
            fake.random_int(min=999, max = 2500),
            datetime.now(), 
            datetime.now(),
            fake.ipv4())
  myCursor.execute(addPersonQuery, myPerson)

myCursor.execute("SELECT * FROM people LIMIT 10")
pprint(myCursor.fetchall())

myConnection.commit()
myConnection.close()

#Ideally, you will want to create a loop that will iterate 1000 times,
#Observe the example in the earlier code block showing the parameter tuple `myPerson`
#You can duplicate that inside your loop and replace those fields with calls to the appropriate faker provider method
#Execute your statement inside the loop,
#But, don't forget to commit and close your connection when you have finished!

[(1,
  'Manuel Robinson',
  'yowen@gmail.com',
  '21446 Steele Throughway Suite 263',
  'Gregoryport',
  'Saskatchewan',
  'Suriname',
  '613-582-0368 x373',
  'Error pariatur culpa neque.',
  '1925-03-26',
  1967,
  '2022-05-24 18:40:51.031084',
  '2022-05-24 18:40:51.031086',
  '205.49.150.104'),
 (2,
  'Nicholas Trujillo',
  'jacksonmatthew@gmail.com',
  '391 John Villages',
  'Fernandeztown',
  'Newfoundland and Labrador',
  'Zambia',
  '(259) 897-1560',
  'Cupiditate eligendi vel reiciendis et voluptas.',
  '2006-05-06',
  2122,
  '2022-05-24 18:40:51.046691',
  '2022-05-24 18:40:51.046693',
  '201.50.14.82'),
 (3,
  'Veronica Hicks',
  'ngomez@yahoo.com',
  '6792 Stephen Alley Apt. 822',
  'Kellerville',
  'Saskatchewan',
  'Kenya',
  '+1 (262) 110-1787',
  'Dolores vero necessitatibus cumque necessitatibus.',
  '1971-06-30',
  1482,
  '2022-05-24 18:40:51.047654',
  '2022-05-24 18:40:51.047655',
  '109.73.28.193'),
 (4,
  'Jacob Duncan',
  'kathleenedwards@yahoo.com',
  '811 Mitchell Centers Apt. 338',
  'Jackieberg',
  'Nunavut',
  'Papua New Guinea',
  '504.401.5846',
  'Odit modi itaque quod eligendi non.',
  '1943-03-21',
  1179,
  '2022-05-24 18:40:51.048492',
  '2022-05-24 18:40:51.048493',
  '135.35.204.118'),
 (5,
  'Michael Floyd',
  'bryantangelica@yahoo.com',
  '5594 Sanchez Crest Suite 029',
  'New Jasonburgh',
  'Newfoundland and Labrador',
  'Kuwait',
  '166-562-1676',
  'Error nihil aliquam.',
  '1939-01-10',
  1509,
  '2022-05-24 18:40:51.049360',
  '2022-05-24 18:40:51.049362',
  '63.127.252.247'),
 (6,
  'Michaela Wilson',
  'kaufmannancy@yahoo.com',
  '843 Christine Unions Suite 830',
  'South Valeriemouth',
  'Alberta',
  'Hong Kong',
  '(632) 742-7408 x749',
  'Sapiente consequatur perferendis molestiae iure rerum.',
  '1999-05-02',
  2349,
  '2022-05-24 18:40:51.050112',
  '2022-05-24 18:40:51.050114',
  '151.131.50.76'),
 (7,
  'Amanda Parker',
  'williamskaren@gmail.com',
  '33061 Bernard Bridge Apt. 069',
  'Williamshaven',
  'Nunavut',
  'Malaysia',
  '942-624-6126 x721',
  'Ducimus consectetur exercitationem.',
  '2012-12-22',
  2458,
  '2022-05-24 18:40:51.050859',
  '2022-05-24 18:40:51.050860',
  '18.70.145.130'),
 (8,
  'Rebecca Bell',
  'nguerrero@gmail.com',
  '6925 Aguilar Shoal Apt. 086',
  'Kimton',
  'Newfoundland and Labrador',
  'Mongolia',
  '(624) 171-7038',
  'Veritatis non blanditiis saepe.',
  '1994-05-27',
  2166,
  '2022-05-24 18:40:51.051558',
  '2022-05-24 18:40:51.051559',
  '161.100.91.217'),
 (9,
  'Crystal Nguyen MD',
  'juarezjason@yahoo.com',
  '292 Best Lights Suite 819',
  'Adamchester',
  'Nova Scotia',
  'Colombia',
  '(229) 492-9182 x199',
  'Corporis doloremque laudantium adipisci.',
  '2013-01-19',
  1402,
  '2022-05-24 18:40:51.052324',
  '2022-05-24 18:40:51.052325',
  '23.143.184.50'),
 (10,
  'Rebekah Hernandez',
  'zmartinez@hotmail.com',
  '551 Vance Mall',
  'Lake Veronicafort',
  'Ontario',
  'Hungary',
  '1-807-720-2159',
  'Neque deleniti recusandae dolores ipsum.',
  '1974-12-02',
  2413,
  '2022-05-24 18:40:51.052980',
  '2022-05-24 18:40:51.052981',
  '23.20.181.209')]

Finally, the last step,
Using the code block below, combined with what you have learned above, and the Lecture notes,
Craft a SQL Query that will return the `name` of no more than `20` `people` with a `heatmap` greater than `1500`

In [64]:
import sqlite3
from pprint import pprint
#Retreive the Connection object
myConnection = sqlite3.connect('social_network.db')

#Once we have a Connection object, we can generate a Cursor object, and use that to run our SQL Queries
myCursor = myConnection.cursor()

selectStatement = """ SELECT name, heatmap from people WHERE heatmap > 1500 LIMIT 20"""

myCursor.execute( selectStatement)
results = myCursor.fetchall()
pprint(results)

[('Manuel Robinson', 1967),
 ('Nicholas Trujillo', 2122),
 ('Michael Floyd', 1509),
 ('Michaela Wilson', 2349),
 ('Amanda Parker', 2458),
 ('Rebecca Bell', 2166),
 ('Rebekah Hernandez', 2413),
 ('Susan Green', 1503),
 ('Michelle Sanders', 2414),
 ('Timothy Edwards', 1799),
 ('Melissa Yoder', 2298),
 ('David Burns', 2273),
 ('Anna Martin', 1915),
 ('Mr. Brandon Rose MD', 2372),
 ('Michael Melton', 1806),
 ('Ryan Jackson', 2175),
 ('Selena Weiss', 1907),
 ('Brenda Porter', 1850),
 ('Karl Moreno', 1880),
 ('Joshua Delgado', 1645)]

Your submission will contain, as usual, a link to your completed colab notebook, but in addition to that, you will download a copy of your social_network.db file and upload it to D2L. To download the file, right click it from the Files menu on the left of the Notebook.